<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="/script/jquery.js"></script>
	<script src="/script/moment.js"></script>
	<script src="/script/script.js"></script>
	<link rel="stylesheet" href="/css/master.css">
	<title>Home</title>
</head>

<body>
	<main id="main-container">
		<!-- header -->
		<section id="header">
			<!-- menu -->
			<nav id="menu" tabindex="0">
				<ul id="submenu">
					<li>
						<a href="/users/account">
							<span id="account-icon">
								<img src="/assets/user.svg">Account
							</span>
						</a>
					</li>
					<li>
						<a href="/users/logout">
							<span id="logout-icon">
								<img src="/assets/log-out.svg">
							</span>Logout
						</a>
					</li>
				</ul>
			</nav>
			<!-- location -->
			<div id="imi-container">
				<div id="imi">
					<span>It's Magic In&nbsp;</span>
					<span id="location" data-zip={{user.zip}}></span>
				</div>
			</div>
			<!-- time -->
			<div id="time-container">
				<span id="time"></span>
			</div>
		</section>
		<section id="geolocation">
			<div>
				<p class="loading" id="geo-load">Loading...</p>
				<button id="geolocation-btn">Geolocation</button>
			</div>
		</section>
		<!-- body -->
		<section id="body">
			<!-- morning magic -->
			<div id="am">
				<h2 id="sunrise"> </h2>
				<p>🌞</p>
				<h2 id="sunrise2"></h2>
			</div>
			<!-- evening magic -->
			<div id="pm">
				<h2 id="sunset2"></h2>
				<p>🌚</p>
				<h2 id="sunset"></h2>
			</div>
		</section>
		<!-- footer -->
		<section class="footer">
			<a class="gh" href="https://github.com/ark234/PROJECT2-FUZZY-YELLOW"></a>
		</section>
	</main>
</body>

</html>