<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="/script/jquery.js"></script>
	<script src="/script/moment.js"></script>
	<script src="/script/script.js"></script>
	<link rel="stylesheet" href="/css/master.css">
	<title>Home</title>
</head>

<body>
	<main id="main-container">
		<section id="header">
			<h1 id="user-id" data-user-id={{user.id}}>Welcome back, {{user.username}}!</h1>
			<div id="imi-container">
				<h2 id="imi">
					<span>It's Magic In&nbsp;</span>
					<span id="location" data-zip={{user.zip}}></span>
				</h2>
				<p class="loading" id="geo-load">Loading...</p>
			</div>
			<div id="menu">
				<div id="submenu">
					<a href="/users/account">Account</a>
					<a href="/users/logout">Logout</a>
				</div>
			</div>
		</section>
		<section id="clock">
			<h2>Current Time&nbsp;</h2>
			<h2 id="time"></h2>
			<button id="geolocation-btn">Geolocation</button>
		</section>
		<section id="body">
			<div id="am">
				<span>Morning Magic</span>
				<h2 id="sunrise"> </h2>
			</div>
			<div id="pm">
				<span>Evening Magic</span>
				<h2 id="sunset"> </h2>
			</div>
		</section>
		<section id="footer">
			<div id="gh"></div>
			<div id="apis"></div>
			<div id="donate"></div>
		</section>
	</main>
</body>

</html>