<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="/script/jquery.js"></script>
	<script src="/script/moment.js"></script>
	<script src="/script/script.js"></script>
	<title>Home</title>
</head>

<body>
	<main id="main-container">
		<section id="header">
			<h1 id="user-id" data-user-id={{user.id}}>Welcome back, {{user.username}}!</h1>
			<h2>Current Time:
				<span id="time"></span>
			</h2>
			<h2>Location:
				<span id="location" data-zip={{user.zip}}></span>
			</h2>
			<div id="menu">
				<div id="submenu">
					<a href="/users/logout">Logout</a>
					<a href="/users/account">Account</a>
				</div>
			</div>
		</section>
		<section id="body">
			<h2>Morning Magic:
				<span id="sunrise"></span>
			</h2>
			<h2>Evening Magic:
				<span id="sunset"></span>
			</h2>
		</section>
		<section id="footer">
			<div id="gh"></div>
			<div id="apis"></div>
			<div id="donate"></div>
		</section>
	</main>
</body>

</html>