<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
</head>

<body>
	<main>
		<section>
			<h1>Login</h1>
			<form action="/users/login" method="post">
				<label for="username">Username</label>
				<br>
				<input type="text" id="username" name="user[username]">
				<br>
				<label for="password">Password</label>
				<br>
				<input type="password" id="password" name="user[password]">
				<br>
				<button>Login</button>
			</form>
			<div>
				<a href="/users/register">Sign Up</a>
			</div>
		</section>
	</main>
</body>

</html>