<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/master.css">
	<link rel="stylesheet" href="/css/login.css">
	<title>Login</title>
</head>

<body>
	<main id="main-container">
		<section id="login">
			<h1>It's Magic In...</h1>
			<form action="/users/login" method="post">
				<label for="username">Username</label>
				<br>
				<input type="text" id="username" name="user[username]">
				<br>
				<label for="password">Password</label>
				<br>
				<input type="password" id="password" name="user[password]">
				<br>
				<br>
				<button id="login-btn">Login</button>
			</form>
			<div id="signup">
				<a href="/users/register">
					<p>Sign Up</p>
				</a>
			</div>
		</section>
		<section class="footer">
			<a class="gh" href="https://github.com/ark234/PROJECT2-FUZZY-YELLOW"></a>
		</section>
	</main>
</body>

</html>