@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body * {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	/* color: rgb(255, 179, 0); */
	color: snow;
	text-align: center;
	/* text-shadow: 2px 1px rgb(234, 255, 0); */
	text-shadow: 2px 1px rgb(255, 119, 0);
	font-kerning: none;
	font-weight: 900;
	font-family: 'Bungee Hairline', cursive;
}

/* https://www.gradient-animator.com/ */
#main-container {
	height: 100%;
	width: 100%;
	background: linear-gradient(
		135deg,
		#000000,
		#060660,
		#004d7e,
		#006fe7,
		#24bdff,
		#ffec69,
		#ffcb69,
		#ffa369,
		#ff6969,
		#891919
	);
	background-size: 2000% 2000%;
	animation: slide 120s ease infinite;
}

/********** ANIMATIONS **********/
@keyframes slide {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

/*********** HEADER **********/
#header {
	/* border: 2px solid red; */
	/* padding-right: 25px; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 10%;
	background: rgba(3, 19, 55, 0.5);
}

#imi-container {
	/* https://css-tricks.com/forums/topic/horizontal-centering-of-an-absolute-element/ */
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	/* border: 2px solid snow; */
}

#imi {
	display: flex;
	flex-basis: 2;
	font-size: 3vmin;
	/* padding-bottom: 3vmin; */
}

#location {
	display: flex;
	flex-direction: column;
}

#menu {
	/* border: 2px solid pink; */
	margin-left: 25px;
	max-height: 60px;
	max-width: 60px;
	width: 5vmin;
	height: 5vmin;
	background-image: url('/assets/menu.svg');
	background-size: cover;
	cursor: pointer;
	position: relative;
	display: inline-block;
}

#submenu {
	/* border: 2px solid yellow; */
	background: rgba(3, 19, 55, 0.5);
	height: 10vh;
	list-style: none;
	display: none;
	position: absolute;
	top: 100%;
	min-width: 100px;
	padding: 0;
	margin: 0;
	z-index: 1;
}

#menu:hover #submenu {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#submenu li a {
	color: snow;
	text-shadow: none;
	/* display: block; */
}

#submenu li a:hover {
	color: goldenrod;
	text-shadow: #891919;
}

#time {
	/* border: 2px solid white; */
	margin-right: 25px;
	font-size: 3vmin;
}

/********** GEOLOCATION **********/
#geolocation {
	/* border: 2px solid yellow; */
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-top: 5%; */
	height: 10%;
	font-size: 3vmin;
}

#geolocation-btn {
	/* margin-top: 50px; */
	font-size: 2.5vmin;
	height: 40px;
}

/* #geolocation-btn:hover {
	background: linear-gradient(
		135deg,
		#000000,
		#060660,
		#004d7e,
		#006fe7,
		#24bdff,
		#ffec69,
		#ffcb69,
		#ffa369,
		#ff6969,
		#891919
	);
	color: snow;
	border: 1px solid goldenrod;
} */

/*********** BODY **********/
#body {
	/* border: 2px solid green; */
	height: 70%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 6vmin;
}

#body * {
	margin: 0;
	padding: 0;
}

#am,
#pm {
	/* border: 2px solid white; */
	/* padding: 20px; */
	display: flex;
	flex-direction: column;
}

#pm {
	/* color: rgb(234, 255, 0);
	text-shadow: 2px 1px rgb(255, 179, 0); */
}

/*********** FOOTER **********/
#footer {
	/* border: 2px solid purple; */
	background: rgba(3, 19, 55, 0.5);
	height: 10%;
}

/********** MISC **********/
button {
	font-family: 'Bungee Hairline', cursive;
	border-radius: 10px;
	font-weight: 900;
	cursor: pointer;
	border: none;
	outline: none;
}

button:active {
	transform: scale(0.9);
}

button:hover {
	background: linear-gradient(
		135deg,
		#000000,
		#060660,
		#004d7e,
		#006fe7,
		#24bdff,
		#ffec69,
		#ffcb69,
		#ffa369,
		#ff6969,
		#891919
	);
	color: snow;
	border: 1px solid goldenrod;
}

.loading {
	display: none;
	/* position: absolute; */
}

a {
	text-decoration: none;
}

/********** CREDITS **********/
/* Entypo pictograms by Daniel Bruce — www.entypo.com */
