#main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 10vmin;
	margin: 0 0 50px 0;
}

#register {
	/* border: 2px solid snow; */
	width: 100vw;
}

#username,
#password,
#email,
#phone,
#zip {
	width: 25vw;
	height: 5vh;
	min-width: 150px;
	min-height: 30px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-bottom: 10px;
	font-size: 4vh;
	font-family: 'Slabo 27px', serif;
	color: snow;
	background-color: rgba(35, 72, 56, 0.3);
	box-shadow: 2px 1px rgb(255, 119, 0);
}

#signup-btn {
	min-width: 150px;
	min-height: 30px;
	width: 20vw;
	height: 4vh;
	font-size: 25px;
	margin: 15px 0;
}

#login {
	margin: 0 auto;
	/* border: 2px solid white; */
	max-width: 200px;
}
